* {
  font-size: 100%;
  font-family: Arial;
 }

.title {
  margin: auto;
  text-align: center;
  font-size: x-large;
}

h2 {
  margin: auto;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  width: 80%;
  margin: auto;
  padding: 10px;
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #E4B429;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

span {
  color: red;
  margin: auto;
  font-size: larger;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* new */
.collapsible {
  background-color: #E4B429;
  color: black;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #999;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}